<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-start">
      <div class="card-title">
        <h5 class="mb-1">
          <span
            class="
              d-inline-flex
              justify-content-center
              align-items-center
              logo
              border border-success
            "
          >
            {{ specificTeam?.team?.full_name?.substr(0, 1) }}
          </span>
          {{ specificTeam?.team?.full_name }} [{{
            specificTeam?.team?.abbreviation
          }}]
        </h5>
        <small>{{ specificTeam?.team?.conference }} conference</small>
      </div>

      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        id="remove{{ specificTeam?.team?.abbreviation }}"
        (click)="emitter.emit(specificTeam)"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <hr />
    <div class="media">
      <div class="media-body">
        <p>Results of past 12 days:</p>
        <div class="d-block">
          <span
            class="game-status border mr-2"
            *ngFor="let game of specificTeam?.games"
            [class.text-success]="game?.win"
            [class.text-danger]="!game?.win"
            [class.border-success]="game?.win"
            [class.border-danger]="!game?.win"
          >
            {{ game?.win ? 'W' : 'L' }}</span
          >
        </div>

        <div class="d-block mt-2" *ngIf="specificTeam?.averageScore">
          Avg pts scored: <strong>{{ specificTeam?.averageScore }}</strong>
        </div>
        <div class="d-block" *ngIf="specificTeam?.conceededScore">
          Avg pts conceeded: <strong>{{ specificTeam?.conceededScore }}</strong>
        </div>
      </div>
      <div class="media-right">
        <a>
          <img
            class="media-object"
            height="100"
            width="100"
            [src]="
              'https://interstate21.com/nba-logos/' +
              specificTeam?.team?.abbreviation +
              '.png'
            "
            alt="{{ specificTeam?.team?.abbreviation }}"
          />
        </a>
      </div>
    </div>

    <div class="d-block mt-3">
      <button
        class="btn btn-sm btn-outline-success"
        id="results{{ specificTeam?.team?.abbreviation }}"
        [routerLink]="['results', specificTeam?.team?.abbreviation]"
      >
        See Game Results >>>
      </button>
    </div>
  </div>
</div>
