<div class="row">
  <div class="col-lg-5">
    <div class="card" *ngIf="specificTeam">
      <div class="card-body">
        <div class="d-flex justify-content-start align-items-start flex-column">
          <h4 class="mb-1">
            {{ specificTeam?.team?.full_name }} [{{
              specificTeam?.team?.abbreviation
            }}]
          </h4>
          <small>{{ specificTeam?.team?.conference }} conference</small>
        </div>
        <hr />
        <div class="media">
          <div class="media-body">
            <p class="media-heading">Scores of past 12 days</p>
            <div
              class="d-flex justify-content-start align-items-center mb-2"
              *ngFor="let game of specificTeam?.games"
            >
              <p class="mb-0">
                <strong class="mr-1">{{
                  game?.home_team?.abbreviation
                }}</strong>
                {{ game?.home_team_score }}
              </p>
              <span class="ml-2 mr-2">-</span>
              <p class="mb-0">
                {{ game?.visitor_team_score }}
                <strong class="ml-1">{{
                  game?.visitor_team?.abbreviation
                }}</strong>
              </p>
            </div>
          </div>
          <div class="media-right">
            <a>
              <img
                class="media-object"
                height="100"
                width="100"
                [src]="
                  'https://interstate21.com/nba-logos/' +
                  specificTeam?.team?.abbreviation +
                  '.png'
                "
                alt="{{ specificTeam?.team?.abbreviation }}"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button
          class="btn btn-sm btn-success"
          id="backBtn"
          (click)="location.back()"
        >
          <<< Back to Team Results
        </button>
      </div>
    </div>
  </div>
</div>
