<div class="d-block">
  <div class="row mt-4">
    <div class="col-lg-4">
      <label>Select A Team To Track</label>
      <div class="d-flex justify-content-start align-items-start">
        <select
          class="form-control"
          placeholder="Select Team To Track"
          id="teamInput"
          style="min-width: 100px; max-width: 200px;"
          [(ngModel)]="teamId"
        >
          <option
            *ngFor="let item of appService.teamsListData"
            [value]="item.id"
          >
            {{ item.full_name }}
          </option>
        </select>

        <button
          class="btn btn-success ml-3"
          id="trackBtn"
          [disabled]="!teamId"
          (click)="appService.setTeamDetails(teamId); teamId = null"
        >
          Track Team
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="row mt-3">
        <div
          class="col-lg-6"
          *ngFor="let team of appService.selectedTeams; let index = index"
        >
          <app-specific-team-details
            [specificTeam]="team"
            (emitter)="removeTeam(index)"
          ></app-specific-team-details>
        </div>
      </div>
    </div>
  </div>
</div>
