<div class="d-block">
  <div class="row mt-4">
    <div class="col-lg-4">
      <div class="d-flex justify-content-start align-items-start">
        <select
          class="form-control"
          id="teamInput"
          style="min-width: 100px; max-width: 200px;"
          [(ngModel)]="teamId"
        >
          <option
            *ngFor="let item of appService.teamsListData"
            [value]="item.id"
          >
            {{ item.full_name }}
          </option>
        </select>

        <button
          class="btn btn-info ml-3"
          id="trackBtn"
          (click)="appService.setTeamDetails(teamId)"
        >
          Track Team
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div
      class="col-lg-4"
      *ngFor="let team of appService.selectedTeams; let index = index"
    >
      <app-specific-team-details
        [specificTeam]="team"
        (emitter)="removeTeam(index)"
      ></app-specific-team-details>
    </div>
  </div>
</div>
